:root{
    --fundo: #241c39;
    --cart: #3300ff;
    --invcart:#8200a9;
    --dest:#53eaab;
    --preto:#000000;
    --branco:#fff;
    --deeznuts:#ff00d4;
}
body{
    background: var(--fundo);
    margin: 0;
    color: #fff;
    
}
header{
    background-color: var(--dest);
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
header a {
    color: var(--branco);
    text-decoration: none;
}
footer{
    background-color:var(--dest) ;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#container{
    display: grid;
    gap: 3rem;
    padding: 20px;

}
.cart{
    background-color: var(--cart);
    border: 1px solid var(--deeznuts);
    padding: 40px;
    box-shadow: 7px -3px 13px 4px var(--dest);
}
.cart:hover{
    transform: scale(1.04);
}